<h4>{%= label %} Options</h4>
<div class="row">
  {% if ( !addresses ) { %}
  <p>No address registered, add a new one.</p>
  {% } else { %}
  <div class="awc-addresses-container">
    {% for(var i in addresses) { %}
		{% var address=addresses[i]; %}
    <div class="col-md-12 col-sm-12 address-item">
      <div class="well">
        <div data-is-residential="{%= address.is_residential %}" data-name="{%= address.name %}" class="addr" style="cursor: pointer" data-address-type="{%= address.address_type %}">
          <span class="actions pull-right">
            <button title="Delete" class="delete"><span class="fa fa-trash" aria-hidden="true"></span></button>
            <button title="Edit" data-type="{%= data_type %}" class="edit" style="margin:0 15px;"><span class="fa fa-pencil" aria-hidden="true"></span></button>
          </span>
          <div class="address">
            {% if ( address.address_title ) { %}<span class="glyphicon glyphicon-tag"></span><span id="title">{%= address.address_title %}</span><br>{% } %}
            {% if ( address.address_contact ) { %}<span class="glyphicon glyphicon-user"></span><span id="contact">{%= address.address_contact %}</span><br>{% } %}
			<span class="glyphicon glyphicon-map-marker pull-left"></span>
			<div style="padding-left: 1.5em;">
				<span id="line1" class="line">{%= address.address_line1 %}</span>
				{% if ( address.address_line2 ) { %}<span id="line2" class="line">{%= address.address_line2 %}</span>{% } %}
				<span id="city">{%= address.city %}</span>,
				<span id="state">{%= address.state %}</span>
				{% if ( address.pincode ) { %}<span id="postal_code">{%= address.pincode %}</span>{% } %}<br>
				<span id="country" class="line">{%= address.country %}</span><br>
			</div>
			<span class="glyphicon glyphicon-phone-alt"></span><span id="phone">{%= address.phone %}</span><br>
		</div>
        </div>
      </div>
    </div>
    {% } %}
  </div>
  {% } %}
  <button class="btn-primary">Add a New {%= label %}</button>

</div>
<style>
.address {
	padding-bottom: 15px;
}
.address-item .glyphicon {
	margin-right: .5em;
}
.address-item .well {
  padding: .5em 1em;
  margin-bottom: 1em;
}
</style>
