<div class="section-content container">
  <div class="row">
    <div class="col-sm-7 section-rel">
      <div class="image  vert-mid">
        <img alt="{{ name }}" src="{{#if custom.productImageUrl }}{{custom.productImageUrl}}{{else}}{{ imageUrl }}{{/if}}">
      </div>
    </div>
    <div class="col-sm-5 product-details">
     <div class="product-name">
       {{#if custom.listing_logo_url }}
          <img class="iem-logos" src="{{custom.listing_logo_url}}">
       {{else}}
          <h2 class="group inner list-group-item-heading">{{ this.name }}</h2>
       {{/if}}
      </div>
      <div class="description hidden-xs hidden-sm">
        {{{ detail.description_long }}}
      </div>

      {{#if options }}
        {{#each options.variants }}
      <div id="{{cssEscape ../sku}}-option-{{cssEscape id}}-container" class="option" data-awc-option="{{cssEscape id}}">
        <div class="option-name">{{label}}</div>
        <select id="{{cssEscape ../sku}}-option-{{cssEscape id}}">
                  {{#each values }}
                  <option value="{{ htmlEncode . }}" {{#if (eq this ../default) }}selected{{/if}}>{{ . }}</option>
                  {{/each}}
                </select>
      </div>
        {{/each}}
      {{/if}}

      <div class="text-center">
          <span class="product-price"><span class="text">Starting at <br></span><span class="value price" id="price_label">{{currency price }}</span></span>
      </div>

      <div class="text-center awc-form">
        {{#if custom.designer}}
          <a data-jhaudio3d-options="06fb226d82" data-template="Page 3D Designer Widget" data-target="#product-widget" class="btn btn-success customize-btn" data-sku="{{ htmlEncode this.sku }}"><span class="on-passive">Customize</span><span class="on-active">Loading, Please Wait...</span></a>
        {{else}}
          <div class="field required" id="product-qty-field">
            <label for="product-qty">qty</label>
            <input type="text" id="product-qty" value="1" placeholder="qty">
          </div>
          <a data-awc-addtocart
             data-awc-qty-from="#product-qty"
          {{#if options.variants}}
					   data-awc-price-selector="#price_label"
             data-awc-options data-awc-options-hashes="{{ htmlEncode (json this.options.hashes) }}"
    	       data-awc-options-selectors="{{#each this.options.variants }},#{{ cssEscape ../sku }}-option-{{cssEscape id}}{{/each}}"
          {{/if}}
             data-id="{{ htmlEncode this.sku }}"
             class="btn btn-success addtocart">Add to cart</a>
        {{/if}}
      </div>

      <div class="description hidden-md hidden-lg">
        {{{ detail.description_long }}}
      </div>
    </div>
  </div>
</div>
