<div id="authorizenet-billing-form" class="authorizenet-form">
  <div class="row no-gutter">
    <div class="col-sm-12">
      <div class="field required">
        <label for="authorizenet_bill_line1">Address</label>
        <input id="authorizenet_bill_line1" name="authorizenet_bill_line1" placeholder="Address 1"/>
      </div>
    </div>
  </div>
  <div class="row no-gutter">
    <div class="col-sm-12">
      <div class="field">
        <label for="authorizenet_bill_line2">Address 2</label>
        <input id="authorizenet_bill_line2" name="authorizenet_bill_line1" placeholder="Address 2"/>
      </div>
    </div>
  </div>
  <div class="row no-gutter">
    <div class="col-xs-6 nopad-right">
      <div class="field required">
        <label for="authorizenet_bill_city">City</label>
        <input id="authorizenet_bill_city" name="authorizenet_bill_city" placeholder="City"/>
      </div>
    </div>
    <div class="col-xs-3 nopad-right">
      <div class="field required">
        <label for="authorizenet_bill_state">State</label>
        <input id="authorizenet_bill_state" name="authorizenet_bill_state" placeholder="State"/>
      </div>
    </div>
    <div class="col-xs-3 nopad-left">
      <div class="field required">
        <label for="authorizenet_bill_pincode">Postal Code</label>
        <input id="authorizenet_bill_pincode" name="authorizenet_bill_zip" placeholder="Postal Code"/>
      </div>
    </div>
  </div>
  <div class="row no-gutter">
    <div class="col-sm-12">
      <div class="field required">
        <label for="authorizenet_bill_country">Country</label>
        <select id="authorizenet_bill_country" name="authorizenet_bill_country">
          <option selected>- Select Country -</option>
          {% for country in authorizenet_countries %}
          <option value="{{country.name}}">{{country.country_name}}</option>
          {% endfor %}
        </select>
        <span class="select-arrow glyphicon glyphicon-triangle-bottom"></span>
      </div>
    </div>
  </div>
</div>
