<div id="shipping-addrs">
    <h4>Select Shipping Address</h4>
    <div class="row">
        {% if not addresses %}
        <p>No address registered, add a new one.</p>
        {% else %}
        <div class="addresses-container">
            {% for address in addresses%}
            <div class="col-md-12 col-sm-12 address-item">
                <div class="well">
                    <div data-name="{{ address.name }}" class="addr" style="cursor: pointer" data-address-type="{{ address.address_type }}">
                        <p>
                            <button class="pull-right delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                            <button class="pull-right edit" style="margin:0 5px;"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                            <span id="line1">{{ address.address_line1 }}</span>, {% if address.address_line2 %}
                            <span id="line2">{{ address.address_line2 }}</span>, {% endif %}
                            <span id="city">{{ address.city }}</span>,
                            <span id="state">{{ address.state }}</span>,
                            <span id="country">{{ address.country }}</span>,
                            <span id="postal_code">{{ address.pincode }}</span>.<br>
                            <span id="phone">{{ address.phone }}</span>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <button class="btn-primary">Or Add a New Shipping Address</button>
    </div>
</div>