<div id="shipping-addrs">
    <h4>Select Shipping Address</h4>
    <div class="row">
        {% if not addresses %}
        <p>No address registered, add a new one.</p>
        {% else %}
        <div class="addresses-container">
	        {% for address in addresses%}
	        <div class="col-md-12 col-sm-12 address-item">
	            <div class="well">
	                <div data-name="{{ address.name }}" class="addr" style="cursor: pointer" data-address-type="{{ address.address_type }}">
	                    <span id="title"><strong id="title"> {{ address.address_title }} </strong></strong><br>
	                    <p>
	                        <span id="line1">{{ address.address_line1 }}</span>,
	                        {% if address.address_line2 %}
	                            <span id="line2">{{ address.address_line2 }}</span>,
	                        {% endif %}
	                        <span id="city">{{ address.city }}</span>,
	                        <span id="state">{{ address.state }}</span>,
	                        <span id="country">{{ address.country }}</span>,
	                        <span id="postal_code">{{ address.pincode }}</span>.<br>
	                        <span id="phone">{{ address.phone }}</span>
	                    </p>
	                </div>
	            </div>
	        </div>
	        {% endfor %}
        </div>
        {% endif %}
        <button class="btn-primary">Add a New Shipping Address</button>
    </div>
</div>
