{% extends "templates/web.html" %}

{% block title %}{{ _("Credit Request Accepted") }}{% endblock %}

{%- block header -%}
<h2>{{ _("Credit Request Accepted") }}<h2>
{% endblock %}

{%- block page_content -%}
<p class="lead">{{ _("Thank you for your order with Jerry Harvey Audio. Please watch for an email with a copy of your Order and a Payment Request soon.") }}</p>
<p><a href="{{ frappe.form_dict.redirect_to or "/" }}"
	class="btn btn-primary">{{ _("Continue") }}</a></p>
{% endblock %}

{% block style %}
<style>
#page-credit_success {
	max-width: 1024px;
	margin: auto;
}
#page-credit_success p {
	margin-left: 15px;
}
</style>
{% endblock %}
