
<div class="row">
	<div class="col-sm-12 credit_gateway-summary bill-me label">To Be Billed Later</div>
</div>
  <!--
  <div class="row">
		<div class="col-sm-6 credit_gateway-summary available-credit label">Available Credit</div>
    <div class="col-sm-6 credit_gateway-summary available-credit value {%= available_credit >= order_total?"":"error" %}">
			{% if ( !available_credit ) { %}Missing{% } else { %}{%= available_credit.toFixed(2) %}{% } %}
		</div>
  </div>
  -->
  {% if ( billing_info ) { %}
  <div class="row">
    <address class="col-sm-12">
      {% if ( billing_info.address_1 ) { %}
				{%= billing_info.title %}<br>
        {%= billing_info.address_1 %}<br>
        {% if ( billing_info.address_2 ) { %}
          {%= billing_info.address_2 %}<br>
        {% } %}
        {%= billing_info.city %}, {%= billing_info.state %} {%= billing_info.postal_code %}<br>
        {%= billing_info.country %}
      {% } else { %}
        Address is incomplete.
      {% } %}
    </address>
  </div>
  {% } %}
