{% extends "templates/web.html" %}
{% block title %} {{title}} {% endblock %}

{% block content %}
<h1>{{title}}</h1>
<div id="product"></div>

<!-- no-sidebar -->
{% endblock %}

{% block script %}
<script type="text/javascript">

{% if awc_item %}
var productTemplate = cart.template({{ awc_item.product_template|json }})
{% else %}
var productTemplate = null;
{% endif %}

function updateProductDetails(sku) {
  if ( !sku ) {
    args = awc.parseHash()
    sku = args.sku
  }

  if ( sku ) {
    cart.getProductBySKU(sku, 1)
      .then(function(product) {
        if ( product.tags ) {
          $.each(product.tags, function(k,v) {
            $('body').addClass("product-category-" + v);
          });
        }
        return product;
      })
      .then(cart.applyTpl.bind(cart, '#product', productTemplate))
      .then(function(result) {
        cart.updateUI();
				return result;
      })
      .catch(console.error)
  }
}

// trigger fetching product details and rendering template at runtime
cart.on('init', updateProductDetails.bind(null, {{ item.item_code|json }} ))
cart.on('hashchange', updateProductDetails) // update details on hashchange
{% if cart_tag -%}
cart.tag = {{ cart_tag|json }};
{%- endif %}

</script>
{% endblock %}
