{% extends "templates/web.html" %}
{% block title %} Product {% endblock %}

{% block content %}
<div id="product"></div>

<!-- no-sidebar -->
{% endblock %}

{% block script %}
<script type="text/javascript">

var productTemplate = cart.template('{{ awc_item.product_template }}')

function updateProductDetails(sku) {
  if ( !sku ) {
    args = awc.parseHash()
    sku = args.sku
  }

  if ( sku ) {
    cart.getProductBySKU(sku)
      .then(cart.applyTpl.bind(cart, '#product', productTemplate))
      .then((result) => {
        console.log('update product template result: ', result)
        cart.updateUI();
      })
      .catch(console.error)
  }
}

// trigger fetching product details and rendering template at runtime
cart.on('init', updateProductDetails.bind(null, '{{ item.item_code }}' ))
cart.on('hashchange', updateProductDetails) // update details on hashchange

</script>
{% endblock %}
