{% extends "templates/web.html" %}
{% from "awesome_cart/templates/includes/gateway_macros.html" import embed_gateways %}
{% from "awesome_cart/templates/includes/gateway_macros.html" import embed_gateways_scripts %}
{% from "awesome_cart/templates/includes/gateway_macros.html" import embed_gateways_styles %}
{% import "awesome_cart/templates/includes/awesome_form_macros.html" as form %}

{% block title %} {{ "Shopping Cart" }} {% endblock %}

{% block header %}{% endblock %}

{% block style %}
<style>
    {% include "templates/includes/dti-forms.css" %}
    {% include "templates/includes/cart.css" %}
    {{ embed_gateways_styles(gateway_forms) }}
</style>
{% endblock %}

{% block header_actions %}{% endblock %}

{% block content %}

{% from "templates/includes/macros.html" import item_name_and_description %}

<div class="row aw-row">
	<div class="col-sm-7 aw-col-left">
		<h2>{{ _("My Cart") }}</h2>
		<div class="cart-content">
			<div id="cart-container">
				<div id="cart-error" class="alert alert-danger"
			    style="display: none;"></div>
			<div id="cart-items">
			    <div class="row cart-item-header">
				<div class="col-sm-8 col-xs-6">
				    Items
				</div>
				<div class="col-sm-2 col-xs-3 text-right">
				    Qty
				</div>
				<div class="col-sm-2 col-xs-3 text-right">
				    Amount
				</div>
			    </div>
			    {% if doc.items %}
			    <div class="cart-items">
			    {% include "templates/includes/cart/cart_items.html" %}
			    </div>
			    {% else %}
			    <p>{{ _("Cart is Empty") }}</p>
			    {% endif %}
			</div>
			{% if doc.items %}
			<!-- taxes -->
			<div class="cart-taxes row small">
			    <div class="col-sm-8"><!-- empty --></div>
			    <div class="col-sm-4 cart-tax-items">
				{% include "templates/includes/order/order_taxes.html" %}
			    </div>
			</div>
			<div id="cart-totals">
			</div>
<!--
			<div class="cart-addresses">
			    {% include "templates/includes/cart/cart_address.html" %}
			</div>
			<p class="cart-footer text-right">
			    <button class="btn btn-primary btn-place-order btn-sm" type="button">
				{{ _("Place Order") }}</button></p>
 -->
			{% endif %}

		    </div>
		</div>

	</div>
	<div class="col-sm-5 aw-col-right">
		<div class="col-content focus-column right-col">
			<div class="checkout-breadcrumb">
				<h1>Check Out</h1>
				<div class="page-titles">
				</div>
			</div>
			<div id="awc-checkout-panel">
				<div  id="checkout-login">
					<div id="login-form" class="dti-form">
						<h3>Returning Customer</h3>
						{{ form.awinput("text", "customer_email", "Email Address", cls="required") }}
						{{ form.awinput("password", "customer_password", "Password", cls="required submit-on-enter") }}
						{% call form.awactions() %}
							{{ form.awbutton("Login", 1, "btn-login") }}
						{% endcall %}
					</div>
					<div id="register-prompt" class="dti-form">
						<h3>New Customers</h3>
						{% call form.awactions() %}
							{{ form.awbutton("Create Account", 1, "btn-create-account", data={"aw-goto": "#register"}) }}
						{% endcall %}
					</div>
				</div>
				<div  id="register">
					<div id="register-form" class="dti-form">
						<h3>Create Account</h3>
						<div class="title">Contact Info</div>
						<div class="row nohpad">
							<div class="col-sm-6 norpad">
								{{ form.awinput("text", "guest_first", "First Name", cls="required") }}
							</div>
							<div class="col-sm-6 nolpad">
								{{ form.awinput("text", "guest_last", "Last Name", cls="required") }}
							</div>
						</div>
						{{ form.awinput("text", "guest_email", "Email Address", cls="required") }}

						<div class="title">Your Password</div>
						{{ form.awpassword("guest_password", "Password", cls="required") }}
						{{ form.awpassword("guest_password_check", "Retype Password", cls="required submit-on-enter", match_val="#guest_password") }}

						{% call form.awactions() %}
							{{ form.awbutton("Back", 0, "btn-back", data={ "aw-goto": "!back" }) }}
							{{ form.awbutton("Register", 1, "btn-register") }}
						{% endcall %}

					</div>
				</div>
				<div  id="checkout-billing" data-next="#checkout-shiping">
					{% if gateway_forms|length > 0 %}
					{{ embed_gateways(gateway_forms, stored_payments, enable_billing_address, "!next", countries=countries) }}
					{% else %}
					<p>No payment/gateway modules available</p>
					<p>Enable at least one gateway module to continue</p>
					{% endif %}
				</div>
				<div  id="checkout-shiping" data-next="#checkout-confirmation" class="disabled">
				</div>
				<div  id="checkout-confirmation" data-next="#checkout-processing">
					<p>Please check review your information before once more before completing checkout</p>
					<div class="confirm-box dti-form" id="checkout-confirm-billing">
						<h4>Billing Information</h4>
						<div class="content"></div>
						{{ form.awbutton("Edit", 1, data={ "aw-goto": "#checkout-billing" }) }}
					</div>

					{% if shipping_enabled %}
					<div class="confirm-box dti-form" id="checkout-confirm-shipping">
						<h4>Shipping Information</h4>
						<div class="content"></div>
						{{ form.awbutton("Edit", 1, data={ "aw-goto": "#checkout-billing" }) }}
					</div>
					{% endif %}

					<div class="dti-form" id="confirm-form">
						{{ form.awinput("checkbox", "terms", "I agree with the Terms and Conditions", cls="required label-visible", value="1", reverse_label=1 ) }}
						{{ form.awbutton("Confirm and Pay", 1, "btn-confirm") }}
					</div>
				</div>
				<div id="checkout-processing" class="dti-form">
					<p>Processing, please wait...</p>
					<div class="feedback">
						<div class="msg"></div>
						{{ form.awbutton("Back", 1, data={ "aw-goto": "#checkout-billing" }) }}
					</div>
					<div class="spinner"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- no-sidebar -->
{% endblock %}

{% block script %}
<script>{% include "templates/includes/cart.js" %}</script>
<script type="text/javascript">

// initialize gateway form ui
awc.login_form = new awc.Form($('#login-form'));
awc.register_form = new awc.Form($('#register-form'));
awc.confirm_billing_form = new awc.Form($('#checkout-confirm-billing'));
awc.confirm_shipping_form = new awc.Form($('#checkout-confirm-shipping'));
awc.confirm_form = new awc.Form($('#confirm-form'));
awc.gateway.init($('#gateway-form'));
awc.shipping_enabled = {{ shipping_enabled }};

awc.checkout_pages = new awc.PagesPanel(
	$('#awc-checkout-panel'), 
	{% if is_logged %}'#checkout-billing'{% else %}'#checkout-login'{% endif %}
);

awc.checkout_pages.on_show('#checkout-confirmation', function() {
	var billing_fields = awc.gateway.get_selected_fields();
	var $content = $('#checkout-confirm-billing .content').empty();
	$.each(billing_fields.meta, function(name, meta) {
		if ( meta.has_value ) {
			var $line = $(
				'<div class="confirm-line">'+
					'<span class="label">'+meta.label+'</span>: <span class="value">'+meta.human_value+'</span>'+
				'</div>');
			$content.append($line);
		}
	});
});

awc.confirm_form.$form.on('submit_action', function(e, fields, done, error) {

	var billing_gateway = awc.gateway.get_selected_form();
	var billing_fields = awc.gateway.get_selected_fields();
	var confirm_fields = awc.confirm_form.get_fields();
	var form = {
		billing: {
			gateway: billing_gateway.value,
			fields: billing_fields.fields
		},
		shipping: null,
		confim: {
			fields: confirm_fields.fields
		}
	}

	if ( awc.shipping_enabled ) {
		var shipping_fields = awc.shipping.get_selected_fields();
		form.shipping = {
			carrier: '',
			fields: shipping_fields.fields
		};
	}

	console.log('SUBMIT', form);

	awc.checkout_pages.show('#checkout-processing');
	$('#checkout-processing .msg').empty();
	$('#checkout-processing .feedback').hide();
	$('#checkout-processing .spinner').show();

	frappe.call({
		method: "awesome_cart.cart.checkout",
		args: { form: form },
		callback: function(r) {
			var result = r.message;
			if ( result.success ) {
				awc.checkout_pages.show('#checkout-success');
				window.location = '/cart_success';
			} else {
				//error(result.msg); Don't show error back in confirm form

				$("#checkout-processing .msg").html("<div>"+result.msg + "</div>"+ result.exception?"<pre>" + result.exception + "</pre>":"");
				$("#checkout-processing .feedback").slideDown('fast');
				$('#checkout-processing .spinner').slideUp('fast');
				
			}
		}
	});

	done(); // spinner will appear on processing page

});

awc.login_form.$form.on('submit_action', function(e, fields, done, error) {
	console.log(fields, done, error);
	var email = fields.fields.customer_email;
	var pass = fields.fields.customer_password;

	frappe.call({
		method: "awesome_cart.cart.login",
		args: {
			"email": email, 
			"password": pass,
		},
		callback: function(r) {
			var result = r.message;
			if ( result.success ) {
				awc.checkout_pages.show('#checkout-billing');
				$('.full-name').text(result.user.full_name);
				frappe.full_name = result.user.full_name;
				frappe.user_id = result.user.name;
			} else {
				error(result.msg);
			}
			done();
		}
	});

});

awc.register_form.$form.on('submit_action', function(e, fields, done, error) {

	var $form = $('#register-form');
	var email = $('#guest_email').val();
	var pass = $('#guest_password').val();
	var pass_check = $('#guest_password_check').val();
	var first = $("#guest_first").val();
	var last = $("#guest_last").val();

	frappe.call({
		method: "awesome_cart.cart.register",
		args: {
			"email": email, 
			"password": pass, 
			"password_check": pass_check,
			"first_name": first,
			"last_name": last
		},
		callback: function(r) {
			result = r.message;
			if ( result.success ) {
				awc.checkout_pages.show('#checkout-billing');
				$('.full-name').text(result.user.full_name);
				frappe.full_name = result.user.full_name;
				frappe.user_id = result.user.name;
			} else {
				error(result.msg);
			}

			done();
		}
	});

});

</script>

{{ embed_gateways_scripts(gateway_forms) }}

{% endblock %}
