{% extends "templates/web.html" %}

{% block title %} {{ "Shopping Cart" }} {% endblock %}

{% block header %}{% endblock %}

{% block style %}
<style>
    {% include "templates/includes/dti-forms.css" %}
    {% include "templates/includes/cart.css" %}
</style>
{% endblock %}

{% block header_actions %}{% endblock %}

{% block content %}

{% from "templates/includes/macros.html" import item_name_and_description %}
<div class="row aw-row">
	<div class="col-sm-6 aw-col-left">
		<h2>{{ _("My Cart") }}</h2>
		<div class="cart-content">
			<div id="cart-container">
				<div id="cart-error" class="alert alert-danger"
			    style="display: none;"></div>
			<div id="cart-items">
			    <div class="row cart-item-header">
				<div class="col-sm-8 col-xs-6">
				    Items
				</div>
				<div class="col-sm-2 col-xs-3 text-right">
				    Qty
				</div>
				<div class="col-sm-2 col-xs-3 text-right">
				    Amount
				</div>
			    </div>
			    {% if doc.items %}
			    <div class="cart-items">
			    {% include "templates/includes/cart/cart_items.html" %}
			    </div>
			    {% else %}
			    <p>{{ _("Cart is Empty") }}</p>
			    {% endif %}
			</div>
			{% if doc.items %}
			<!-- taxes -->
			<div class="cart-taxes row small">
			    <div class="col-sm-8"><!-- empty --></div>
			    <div class="col-sm-4 cart-tax-items">
				{% include "templates/includes/order/order_taxes.html" %}
			    </div>
			</div>
			<div id="cart-totals">
			</div>
<!--
			<div class="cart-addresses">
			    {% include "templates/includes/cart/cart_address.html" %}
			</div>
			<p class="cart-footer text-right">
			    <button class="btn btn-primary btn-place-order btn-sm" type="button">
				{{ _("Place Order") }}</button></p>
 -->
			{% endif %}

		    </div>
		</div>

	</div>
	<div class="col-sm-6 aw-col-right">
		<div class="col-content focus-column right-col">
			<div class="checkout-page" id="checkout-login">
				<div id="login-form" class="dti-form">
					<h3>Returning Customer</h3>
					<div class="field required">
						<label for="customer_email">Email</label>
						<input id="customer_email" name="customer_email" type="text" placeholder="Email Address"/>
					</div>
					<div class="field required">
						<label for="customer_password">Password</label>
						<input id="customer_password" name="customer_password" type="password" placeholder="Password"/>
					</div>
					<div class="actions">
						<button class="btn btn-primary btn-login">Login</button>
					</div>
				</div>
				<div id="register-prompt" class="dti-form">
					<h3>New Customers</h3>
					<div class="actions">
						<button class="btn btn-primary btn-create-account">Create Account</button>
					</div>
				</div>
			</div>
			<div class="checkout-page" id="register">
				<div id="register-form" class="dti-form">
					<h3>Create Account</h3>
					<div class="title">Contact Info</div>
					<div class="row nohpading">
						<div class="col-sm-6">
							<div class="field required">
								<label for="guest_first">First Name</label>
								<input id="guest_first" name="guest_first" type="text" placeholder="First Name"/>
							</div>

						</div>
						<div class="col-sm-6">
							<div class="field required">
								<label for="guest_last">Last Name</label>
								<input id="guest_last" name="guest_last" type="text" placeholder="Last Name"/>
							</div>

						</div>
					</div>
					<div class="field required">
						<label for="guest_email">Email</label>
						<input id="guest_email" name="guest_email" type="text" placeholder="Email Address"/>
					</div>

					<div class="title">Your Password</div>
					<div class="field required">
						<label for="guest_password">Password</label>
						<input id="guest_password" name="guest_password" type="password" placeholder="Password"/>
					</div>
					<div class="field required" data-match-val="#guest_password">
						<label for="guest_password_check">Retype Password</label>
						<input id="guest_password_check" name="guest_password_check" type="password" placeholder="Retype Password"/>
					</div>
					<div class="actions">
						<button class="btn btn-primary btn-register">Register</button>
					</div>

				</div>

			</div>
			<div class="checkout-page" id="checkout-billing">
			</div>
			<div class="checkout-page" id="checkout-shipping">
			</div>
			<div class="checkout-page" id="checkout-confirmation">
			</div>
		</div>
	</div>
</div>

<!-- no-sidebar -->
{% endblock %}

{% block script %}
<script>{% include "templates/includes/cart.js" %}</script>
<script type="text/javascript">

$('#login-form .btn-login').click(function() {
	var email = $('#customer_email').val();
	var pass = $('#customer_password').val();
	console.log("Sending login call");
	frappe.call({
		method: "awesome_cart.cart.login",
		args: {
			"email": email, 
			"password": pass,
		},
		callback: function(r) {
			console.log("Got callback:", r);
			result = r.message;
			if ( result.success ) {
				alert("Logged in successfully");
			} else {
				alert(result.msg);
			}
		}
	});

});

$('#register-form .btn-register').click(function() {

	console.log("About to register");
	var $form = $('#register-form');
	var email = $('#guest_email').val();
	var pass = $('#guest_password').val();
	var pass_check = $('#guest_password_check').val();
	var first = $("#guest_first").val();
	var last = $("#guest_last").val();

	console.log("Sending call");
	frappe.call({
		method: "awesome_cart.cart.register",
		args: {
			"email": email, 
			"password": pass, 
			"password_check": pass_check,
			"first_name": first,
			"last_name": last
		},
		callback: function(r) {
			console.log("Got callback:", r);
			result = r.message;
			if ( result.success ) {
				alert("Registered");
			} else {
				alert(result.msg);
			}
		}
	});

});

</script>

{% endblock %}
