.related-products {
  position: relative;
  height: auto;
  white-space: nowrap;
  margin-bottom: 1em;
}

.related-products .section-content {
  position: relative;
  padding: 0;
}

.related-products .product-image {
  height: 10em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
}

.related-products .control {
  position: absolute;
  font-size: 2em;
  color: #999;
  height: 100%;
  top: 0;
  cursor: pointer;
}

.related-products .control:hover {
  font-size: 2.1em;
}

.related-products .control span {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.related-products .control.left {
  display: none;
  left: 15px;
}

.related-products .control.right {
  right: 15px;
  display: none;
}

.related-products ul {
  display: block;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow-x: scroll;
}

.related-products ul li {
  display: inline-block;
  width: 10em;
  height: 100%;
  text-align: center;
  vertical-align: bottom;
}

.related-products ul li a {
  display: block;
  height: 100%;
  text-align: center;
  text-decoration: none;
  color: black;
}

.related-products ul li a:active,
.related-products ul li a:hover {
  color: black;
  text-decoration: none;
}

.related-products h3 {
  text-align: center;
}

.related-products .logo {
  height: 1em;
}

.related-products .product-name {
  text-align: center;
  color: black;
}

.related-products .price-container {
  text-align: center;
}

.related-products .price-container .price {
  color: red;
  font-weight: lighter;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .related-products ul {
    overflow-x: scroll;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .related-products ul {
    overflow-x: hidden;
    margin: 0 3em;
  }
  .related-products ul li {
    width: 15em;
  }
  .related-products .control.left,
  .related-products .control.right {
    display: block;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .related-products ul {
    overflow-x: hidden;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .related-products ul {
    overflow-x: hidden;
  }
}