.related-products {
  position: relative;
  height: auto;
  white-space: nowrap;
  margin-bottom: 1em;
}

.related-products .section-content {
  position: relative;
  padding: 0;
}

.related-products .product-image {
  height: 10em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
}

.related-products .control.left {
  display: none;
  left: 15px;
}

.related-products .control.right {
  right: 15px;
  display: none;
}

.related-products h3 {
  text-align: center;
}

.related-products .logo {
  height: 1em;
}

.related-products a:hover {
  text-decoration: none;
}

.related-products .product-name {
  text-align: center;
  color: black;
  min-height: 3rem;
  padding: 0 2em;
}

.related-products .price-container {
  text-align: center;
}

.related-products .price-container .price {
  color: #f1582f;
  font-weight: lighter;
}

.related-products .slick-arrow {
  background: transparent;
  color: rgb(26, 26, 26);
  border-radius: 2rem;
  font-size: 1.2rem;
  padding: 0;
  width: 3rem;
  height: 3rem;
}

.related-products .slick-arrow:hover {
  background: lightgrey;
  color: white;
}

.related-products .slick-arrow::before,
.related-products .slick-arrow::after {
  content: unset;
}

.related-products .slick-horizontal {
  margin: 0 50px;
}